/********************* Global definitions ********************************/
:root {
  /* Colors */
  --color-neutral-1: hsl(212, 21%, 14%);
  --color-neutral-2: hsl(228, 12%, 48%);
  --color-neutral-3: hsl(0, 0%, 100%);
  --color-primary-1: hsl(158, 36%, 37%);
  --color-primary-2: hsl(158, 42%, 18%);
  --color-secondary-1: hsl(30, 38%, 92%);
  --color-miscellaneous-1: hsl(77, 92%, 69%);

  /* Font sizes */
  --font-size-1: 0.75rem; /* 12px */
  --font-size-2: 0.8125rem; /* 13px */
  --font-size-3: 0.875rem; /* 14px */
  --font-size-4: 2rem; /* 32px */

  /* Font weights */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-1: 100%;
  --line-height-2: 110%;
  --line-height-3: 120%;
  --line-height-4: 160%;

  /* Letter spacing */
  --letter-spacing-1: 0.3125rem; /* 5px */

  /* Border radius */
  --border-radius-none: 0rem;
  --border-radius-1: 0.5rem; /* 8px */

  /* Spacing */
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 1rem; /* 16px */
  --space-4: 1.5rem; /* 24px */
  --space-5: 2rem; /* 32px */
  --space-6: 2.5rem; /* 40px */

  /* Box shadow */
  --box-shadow-1: 0rem 0rem 0rem 0.25rem var(--color-miscellaneous-1); /* 0px 0px 0px 4px */
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("./fonts/Fraunces_72pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

/*********************** CSS resets *********************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  line-height: 1.1;
}

h1,
h2 {
  overflow-wrap: break-word;
  text-wrap: balance;
  line-height: 1.1;
}

p {
  text-wrap: pretty;
  overflow-wrap: break-word;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/********************* Main stylings ********************************/
body {
  font-family: "Montserrat";
  font-weight: var(--font-weight-medium);
  background-color: var(--color-secondary-1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-3);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0px, 0px, 0px, 0px);
}

.card {
  background-color: var(--color-neutral-3);
  border-radius: var(--border-radius-1);
  max-width: 21.875rem; /* 350px */
}

picture img {
  border-top-left-radius: var(--border-radius-1);
  border-top-right-radius: var(--border-radius-1);
  aspect-ratio: 4 / 3;
  width: 100%;
  object-fit: cover;
}

button img {
  width: 0.9375rem; /* 15px */
  height: 1rem; /* 16px */
}

.content {
  padding: var(--space-5);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.price-information {
  display: flex;
  gap: var(--space-3);
  align-items: center;
}

.text-preset-1 {
  font-family: "Fraunces";
  font-size: var(--font-size-4);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-bold);
}

.text-preset-2 {
  font-size: var(--font-size-3);
  line-height: var(--line-height-2);
  font-weight: var(--font-weight-bold);
}

.text-preset-3 {
  font-size: var(--font-size-3);
  line-height: var(--line-height-4);
}

.text-preset-4 {
  font-size: var(--font-size-1);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-1);
}

.text-preset-5 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-3);
}

.color-neutral-1 {
  color: var(--color-neutral-1);
}

.color-neutral-2 {
  color: var(--color-neutral-2);
}

.color-neutral-3 {
  color: var(--color-neutral-3);
}

.color-primary-1 {
  color: var(--color-primary-1);
}

.text-uppercase {
  text-transform: uppercase;
}

button {
  padding: var(--space-3);
  border-radius: var(--border-radius-1);
  background-color: var(--color-primary-1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  border: none;
  outline: none;
}

button:hover {
  background-color: var(--color-primary-2);
  cursor: pointer;
}

button:focus,
button:focus-visible {
  box-shadow: var(--box-shadow-1);
}

@media (min-width: 48rem) {
  /* Tablet and above */
  .card {
    display: flex;
    max-width: 37.5rem; /* 600px */
  }

  picture,
  .content {
    flex: 1;
  }

  picture img {
    border-top-right-radius: var(--border-radius-none);
    border-bottom-left-radius: var(--border-radius-1);
    height: 100%;
    width: auto;
    object-fit: cover;
  }

  button,
  .price-information {
    margin-top: var(--space-2);
  }
}
